.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-link {
        height: 100%;
        width: 70px;
        .logo{
            padding: 10px;
            height: 100%;
        }
    }

    .link-tags{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-link-tags {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}